@model Incident_and_Infrastructure_Management.ViewModel.SupervisorViewModel

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>

<style>

    .form-control{
        border-color: black;
    }
    .acchead{
        background-color: #2774F1
    }

    .select2-selection__rendered {
    line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
        border-color: black;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>

<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Supervisor Registration</h4>


<ul class="nav nav-tabs" id="myTab" role="tablist" style="color: red">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Personal Details</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Work Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact Details</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="availability-tab" data-bs-toggle="tab" data-bs-target="#availability" type="button" role="tab" aria-controls="availability" aria-selected="false">My availability</button>
  </li>
</ul>

  <form asp-action="RegisterSupervisor">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <hr />
                <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <br />
               <div class="form-group col-md-6">
                        <select asp-for="DepartmentId" class="form-control dept" style="width: 100%"  asp-items="@ViewBag.DepartmentId">
                            <option selected="selected" value="">-- Select Service Required --</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>

                       <div class="form-group col-md-6">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>

            
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <br />
                  <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Cellphone" class="control-label"></label>
                        <input asp-for="Cellphone" class="form-control" />
                        <span asp-validation-for="Cellphone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Cellphone2" class="control-label"></label>
                        <input asp-for="Cellphone2" class="form-control" />
                        <span asp-validation-for="Cellphone2" class="text-danger"></span>
                    </div>

                 
          </div>


          <div class="tab-pane fade" id="availability" role="tabpanel" aria-labelledby="availability-tab">
              <br />
              <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableMonday" /> @Html.DisplayNameFor(model => model.IsAvailableMonday)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableTues" /> @Html.DisplayNameFor(model => model.IsAvailableTues)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableWed" /> @Html.DisplayNameFor(model => model.IsAvailableWed)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableThurs" /> @Html.DisplayNameFor(model => model.IsAvailableThurs)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableFrid" /> @Html.DisplayNameFor(model => model.IsAvailableFrid)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableSat" /> @Html.DisplayNameFor(model => model.IsAvailableSat)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableSund" /> @Html.DisplayNameFor(model => model.IsAvailableSund)
                </label>
            </div>

               <div style="background-color:whitesmoke">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-gradient-success"><i class="mdi mdi-file-check btn-icon-prepend"></i> Save</button>
                            <button type="reset" class="btn btn-outline-warning"><i class="mdi mdi-reload btn-icon-prepend"></i> Reset</button>

                </div>
               </div>  
          </div>
        </div>
</form>

</div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.dept').select2();
        
    });
</script>
